/*
Element-wise ADD16 44 million elements.
4096 clusters => 10743 elements each
64-vector => 168 vectors
Each engine can store (64-7)/3 = 19 vectors
4 engines per multiwords => 76 vectors
=> 3 multiwords required
*/

SETBULK 0 1525 64
DIV16 x x x 4
UNSETALL
