/*
(*) 1 LLOAD cost:
       - Latency = 2 COPY (NOR) + 64 READ burst + 64 WRITE + 64 Cluster Wire Delay
                     = 2 x 2.6405 + 64 x 2.64 + 64 x 2.64 + 64 x 1.438
                     = 435.233 (ns)
       - Energy  = Load Latency x Total Power
                     = 435233 (ps) x 0.0079 (W)
                     = 3438.3 (pJ)
*/

SETBULK 0 1 1
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
SHIFT 435.233 3438.3
UNSETALL
