/*
(*) 1 LLOAD cost:
       - Latency = 2 COPY (NOR) + 64 READ burst + 64 WRITE + 64 Cluster Wire Delay
                     = 2 x 2.6405 + 64 x 2.64 + 64 x 2.64 + 64 x 1.438
                     = 435.233 (ns)
       - Energy  = Load Latency x Total Power
                     = 435233 (ps) x 0.0079 (W)
                     = 3438.3 (pJ)

(*)  A single 1-bit SHIFT (latch into buffer, latch from buffer) has a
    cost of (taken from device-level simulation of a LATCH operation):
       - Latency = 2 x 5.281 = 10.562 (ns)
       - Energy  = 2 x 1.6384 = 3.2768 (pJ)

(*) Conv1 requires 7 multiwords, Pool1 also requires 7 clusters, so we just need
to move conv1 output and transpose it, then put it in new 7 clusters.

(*) Each clusters contains 10 64-vector of conv1 output:
    - Inter-Cluster Data Movement:
      Latency = 2 (64-vector pool output) x 10 (64-vector) x SHIFT
              = 2 x 10 x 435.233  = 8704.66 (ns)
      Energy  = 2 (64-vector pool output) x 10 (64-vector) x 7 (clusters) x SHIFT
              = 2 x 10 x 7 x 3438.3 = 4811362 (pJ)
*/
SETBULK 0 1 1
SHIFT 8704.66 4811362
UNSETALL
