/*
  This kernel count the number of words in 64 224 (about 40 words) characters file
  (*) The input and output vector length should be the same => square matrix

  (*)  Each ouput vector needs
      - 7 vectors used for intermediate values (64 - 7 = 57)
      - Each output requires 2n inputs and n matches for the total of 2n + 1
      => n = 28

  (*) A single 64-bit vector SHIFT (latch into buffer, latch from buffer) has a
      cost of (taken from device-level simulation of a LATCH operation):
         - Latency = 2 x 5.281 = 10.562 (ns)
         - Energy  = 2 x 1.6384 = 3.2768 (pJ)
      The SHIFT cost can be calculated accordingly

  (*)
*/

SETBULK 0 1 1
CAM8 x x x 28 8
UNSETALL

SETBULK 0 1 1
SHIFT 380.232 5872.0256
UNSETALL

SETBULK 0 1 1
ADD8 x x x 28 8
UNSETALL

SETBULK 0 1 1
SHIFT 675.968 24334.848
ADD8 x x x 8 1
UNSETALL
