/*
(*) Semiring: (4MAXMIN8, bit-wise AND)
(*) 1 LLOAD cost:
       - Latency = 2 COPY (NOR) + 64 READ burst + 64 WRITE + 64 Cluster Wire Delay
                     = 2 x 2.6405 + 64 x 2.64 + 64 x 2.64 + 64 x 1.438
                     = 435.233 (ns)
       - Energy  = Load Latency x Total Power
                     = 435233 (ps) x 0.0079 (W)
                     = 3438.3 (pJ)

(*)  A single 1-bit SHIFT (latch into buffer, latch from buffer) has a
    cost of (taken from device-level simulation of a LATCH operation):
       - Latency = 2 x 5.281 = 10.562 (ns)
       - Energy  = 2 x 1.6384 = 3.2768 (pJ)

(*) Each output pixels need to gather partial product from 31 multiwords,
each multiwords contains 8 partial results:
      - Intra-Multiword Data Movement:
        Latency = 8 (multiwords) x 56 x SHIFT
                = 448 x SHIFT
                = 448 x 10.562
                = 4731.775 (ns)
        Energy  = 8 (multiwords) x 1 (clusters) x 8 (8-bit precision)
                  x 8 (8 tiles per engine)
                  x (7 + 6 + 5 + 4 + 3 + 2 + 1)
                  (different # engines traveled by different partial product)
                = 14336 x SHIFT
                = 14336 x 3.2768
                = 46976.204 (pJ)
      - Inter-Multiword Data Movement:
        Latency = 8 (multiwords per pixel) x 6 (64-pixel vector per cluster) x SHIFT
                =  8 x 6 x 435.233
                = 20891.184 (ns)
        Energy  = 1 (clusters) x 8 (multiwords per pixel) x 6 (64-pixel vector per cluster) x SHIFT
                = 1 x 8 x 6 x 3438.3
                = 165038.4 (pJ)

*/

// Patrial Results Generation ==================================================
SETBULK 0 1 64
SETBULK 1 1 64
SETBULK 2 1 64
SETBULK 3 1 64
SETBULK 4 1 64
SETBULK 5 1 64
SETBULK 6 1 64
SETBULK 7 1 64
SETBULK 8 1 64
SETBULK 9 1 64
SETBULK 10 1 64
SETBULK 11 1 64
SETBULK 12 1 64
SETBULK 13 1 64
SETBULK 14 1 64
SETBULK 15 1 64
SETBULK 16 1 64
SETBULK 17 1 64
SETBULK 18 1 64
SETBULK 19 1 64
SETBULK 20 1 64
SETBULK 21 1 64
SETBULK 22 1 64
SETBULK 23 1 64
SETBULK 24 1 64
SETBULK 25 1 64
SETBULK 26 1 64
SETBULK 27 1 64
SETBULK 28 1 64
SETBULK 29 1 64
SETBULK 30 1 64
SETBULK 31 1 64
SETBULK 32 1 64
SETBULK 33 1 64
SETBULK 34 1 64
SETBULK 35 1 64
SETBULK 36 1 64
SETBULK 37 1 64
SETBULK 38 1 64
SETBULK 39 1 64
SETBULK 40 1 64
SETBULK 41 1 64
SETBULK 42 1 64
SETBULK 43 1 64
SETBULK 44 1 64
SETBULK 45 1 64
SETBULK 46 1 64
SETBULK 47 1 64
SETBULK 48 1 64
SETBULK 49 1 64
SETBULK 50 1 64

AND8 h0v42 b0v21 b0v0 8
AND8 h0v42 b0v22 b0v1 8
AND8 h0v42 b0v23 b0v2 8
AND8 h0v42 b0v24 b0v3 8
AND8 h0v42 b0v25 b0v4 8

AND8 h0v42 b0v21 b0v5 8
AND8 h0v42 b0v22 b0v6 8
AND8 h0v42 b0v23 b0v7 8
AND8 h0v42 b0v24 b0v8 8
AND8 h0v42 b0v25 b0v9 8

AND8 h0v42 b0v21 b0v10 8
AND8 h0v42 b0v22 b0v11 8
AND8 h0v42 b0v23 b0v12 8
AND8 h0v42 b0v24 b0v13 8
AND8 h0v42 b0v25 b0v14 8

AND8 h0v42 b0v21 b0v15 8
AND8 h0v42 b0v22 b0v16 8
AND8 h0v42 b0v23 b0v17 8
AND8 h0v42 b0v24 b0v18 8
AND8 h0v42 b0v25 b0v19 8

AND8 h0v42 b0v21 b0v20 8
AND8 h0v42 b0v22 b0v21 8
AND8 h0v42 b0v23 b0v22 8
AND8 h0v42 b0v24 b0v23 8
AND8 h0v42 b0v25 b0v24 8

4MAXMIN8 x x x 6 8

UNSETALL

// Intra-Multiword Data Movement and Summation =================================
SETBULK 0 1 1
PROP 448 14336
UNSETALL

SETBULK 0 1 64
SETBULK 1 1 64
SETBULK 2 1 64
SETBULK 3 1 64
SETBULK 4 1 64
SETBULK 5 1 64
SETBULK 6 1 64
SETBULK 7 1 64
SETBULK 8 1 64
SETBULK 9 1 64
SETBULK 10 1 64
SETBULK 11 1 64
SETBULK 12 1 64
SETBULK 13 1 64
SETBULK 14 1 64
SETBULK 15 1 64
SETBULK 16 1 64
SETBULK 17 1 64
SETBULK 18 1 64
SETBULK 19 1 64
SETBULK 20 1 64
SETBULK 21 1 64
SETBULK 22 1 64
SETBULK 23 1 64
SETBULK 24 1 64
SETBULK 25 1 64
SETBULK 26 1 64
SETBULK 27 1 64
SETBULK 28 1 64
SETBULK 29 1 64
SETBULK 30 1 64
SETBULK 31 1 64
SETBULK 32 1 64
SETBULK 33 1 64
SETBULK 34 1 64
SETBULK 35 1 64
SETBULK 36 1 64
SETBULK 37 1 64
SETBULK 38 1 64
SETBULK 39 1 64
SETBULK 40 1 64
SETBULK 41 1 64
SETBULK 42 1 64
SETBULK 43 1 64
SETBULK 44 1 64
SETBULK 45 1 64
SETBULK 46 1 64
SETBULK 47 1 64
SETBULK 48 1 64
SETBULK 49 1 64
SETBULK 50 1 64

4MAXMIN8 x x x 2 1

UNSETALL

// Inter-Multiwords Data Movement and Summation ================================
SETBULK 0 1 1
SHIFT 48 48
UNSETALL

SETBULK 0 1 64
SETBULK 8 1 64
SETBULK 16 1 64
SETBULK 24 1 64
SETBULK 32 1 64
SETBULK 40 1 64

4MAXMIN8 x x x 2 1

UNSETALL
