/*
  This kernel count the number of words in 64 14336 (about 3.5 pages single line) characters file
  (*) The input and output vector length should be the same => square matrix

  (*)  Each ouput vector needs
      - 7 vectors used for intermediate values (64 - 7 = 57)
      - Each output requires 2n inputs and n matches for the total of 2n + 1
      => n = 28

  (*) A single 64-bit vector SHIFT (latch into buffer, latch from buffer) has a
      cost of (taken from device-level simulation of a LATCH operation):
         - Latency = 2 x 5.281 = 10.562 (ns)
         - Energy  = 2 x 1.6384 = 3.2768 (pJ)
      The SHIFT cost can be calculated accordingly

  (*) 1 LLOAD cost:
         - Latency = 2 COPY (NOR) + 64 READ burst + 64 WRITE + 64 Cluster Wire Delay
                       = 2 x 2.6405 + 64 x 2.64 + 64 x 2.64 + 64 x 1.438
                       = 435.233 (ns)
         - Energy  = Load Latency x Total Power
                       = 435233 (ps) x 0.0079 (W)
                       = 3438.3 (pJ)

*/

SETBULK 0 64 1
CAM8 x x x 28 8
UNSETALL

SETBULK 0 1 1
SHIFT 380.232 5872.0256
UNSETALL

SETBULK 0 64 1
ADD8 x x x 28 8
UNSETALL

SETBULK 0 1 1
SHIFT 675.968 24334.848
UNSETALL

SETBULK 0 64 1
ADD8 x x x 8 1
UNSETALL

SETBULK 0 1 1
SHIFT 13927.456 110016
ADD8 x x x 32 1
UNSETALL

SETBULK 0 1 1
SHIFT 13927.456 110016
ADD8 x x x 32 1
UNSETALL
