/*
(*) Semiring: (ADD8, MUL8)
(*) 1 LLOAD cost:
       - Latency = 2 COPY (NOR) + 64 READ burst + 64 WRITE + 64 Cluster Wire Delay
                     = 2 x 2.6405 + 64 x 2.64 + 64 x 2.64 + 64 x 1.438
                     = 435.233 (ns)
       - Energy  = Load Latency x Total Power
                     = 435233 (ps) x 0.0079 (W)
                     = 3438.3 (pJ)

(*)  A single 1-bit SHIFT (latch into buffer, latch from buffer) has a
    cost of (taken from device-level simulation of a LATCH operation):
       - Latency = 2 x 5.281 = 10.562 (ns)
       - Energy  = 2 x 1.6384 = 3.2768 (pJ)

(*) Each output pixels need to gather partial product from 6 multiwords,
each multiwords contains 8 partial results:
      - Intra-Multiword Data Movement:
        Latency = 4 (multiwords) x 56 x SHIFT
                = 224 x SHIFT
                = 224 X 10.562
                = 2365.888 (ns)
        Energy  = 4 (multiwords) x 1 (clusters) x 8 (8-bit precision)
                  x 8 (8 tiles per engine)
                  x (7 + 6 + 5 + 4 + 3 + 2 + 1)
                  (different # engines traveled by different partial product)
                = 7168 x SHIFT
                = 7168 x 3.2768
                = 23488.102 (pJ)
      - Inter-Multiword Data Movement:
        Latency = 2 (multiwords per pixel) x 2 (64-pixel vector per cluster) x SHIFT
                =  2 x 2 x 435.233
                = 1740.932 (ns)
        Energy  = 1 (clusters) x 2 (multiwords per pixel) x 8 (64-pixel vector per cluster) x SHIFT
                = 1 x 2 x 8 x 3438.3
                = 55011.2 (pJ)

*/

// Patrial Results Generation ==================================================
SETBULK 0 1 64
SETBULK 1 1 64
SETBULK 2 1 64
SETBULK 3 1 64

MAC8 h0v42 b0v21 b0v0 8
MAC8 h0v42 b0v22 b0v1 8
MAC8 h0v42 b0v23 b0v2 8
MAC8 h0v42 b0v24 b0v3 8
MAC8 h0v42 b0v25 b0v4 8

MAC8 h0v42 b0v21 b0v5 8
MAC8 h0v42 b0v22 b0v6 8
MAC8 h0v42 b0v23 b0v7 8
MAC8 h0v42 b0v24 b0v8 8
MAC8 h0v42 b0v25 b0v9 8

MAC8 h0v42 b0v21 b0v10 8
MAC8 h0v42 b0v22 b0v11 8
MAC8 h0v42 b0v23 b0v12 8
MAC8 h0v42 b0v24 b0v13 8
MAC8 h0v42 b0v25 b0v14 8

MAC8 h0v42 b0v21 b0v15 8
MAC8 h0v42 b0v22 b0v16 8
MAC8 h0v42 b0v23 b0v17 8
MAC8 h0v42 b0v24 b0v18 8
MAC8 h0v42 b0v25 b0v19 8

MAC8 h0v42 b0v21 b0v20 8
MAC8 h0v42 b0v22 b0v21 8
MAC8 h0v42 b0v23 b0v22 8
MAC8 h0v42 b0v24 b0v23 8
MAC8 h0v42 b0v25 b0v24 8

UNSETALL

// Intra-Multiword Data Movement and Summation =================================
SETBULK 0 1 1
PROP 224 1768
UNSETALL

SETBULK 0 1 64
SETBULK 1 1 64
SETBULK 2 1 64
SETBULK 3 1 64

ADD8 x x x 8 1

UNSETALL

// Inter-Multiwords Data Movement and Summation ================================
SETBULK 0 1 1
SHIFT 4 16
UNSETALL

SETBULK 0 1 64
SETBULK 2 1 64

ADD8 x x x 2 1

UNSETALL
