/*
This microkernel shift the brightness value of 4096 128x128 images by a fix constant
and also clip the value to stay within the 0 to 255 range

See 16bbrightness.rc for general setup
*/
/*============================= MAIN PROGRAM =================================*/
/*
  (*) This is an element-wise microkernel.
  (*) The RGB version just have 3 times more pixels than the grayscale version
  (*) So use 7 x 3 = 21 compute units.
*/

SETBULK 0 4096 64
SETBULK 1 4096 64
SETBULK 2 4096 64
SETBULK 3 4096 64
SETBULK 4 4096 64
SETBULK 5 4096 64
SETBULK 6 4096 64
SETBULK 7 4096 64
SETBULK 8 4096 64
SETBULK 9 4096 64
SETBULK 10 4096 64
SETBULK 11 4096 64
SETBULK 12 4096 64
SETBULK 13 4096 64
SETBULK 14 4096 64
SETBULK 15 4096 64
SETBULK 16 4096 64
SETBULK 17 4096 64
SETBULK 18 4096 64
SETBULK 19 4096 64
SETBULK 20 4096 64

// Shift all pixels by fixed constant first
ADD16 x x x 10 4

// Clip at 255
2MAXMIN16 x x x 10 4

// Clip at 0
2MAXMIN16 x x x 10 4

UNSETALL
