/*
There are 64 clusters involved
-> Need to transfer 64 values from the previous cluster
*/


SETBULK 0 64 64
SETBULK 1 64 64
SETBULK 2 64 64
SETBULK 3 64 64
SETBULK 4 64 64
SETBULK 5 64 64
SETBULK 6 64 64
SETBULK 7 64 64
SETBULK 8 64 64
SETBULK 9 64 64
SETBULK 10 64 64
SETBULK 11 64 64
SETBULK 12 64 64
SETBULK 13 64 64
SETBULK 14 64 64
SETBULK 15 64 64
SETBULK 16 64 64
SETBULK 17 64 64
SETBULK 18 64 64
SETBULK 19 64 64
SETBULK 20 64 64
SETBULK 21 64 64
SETBULK 22 64 64
SETBULK 23 64 64
SETBULK 24 64 64
SETBULK 25 64 64
SETBULK 26 64 64
SETBULK 27 64 64
SETBULK 28 64 64
SETBULK 29 64 64
SETBULK 30 64 64
SETBULK 31 64 64
SETBULK 32 64 64
SETBULK 33 64 64
SETBULK 34 64 64
SETBULK 35 64 64
SETBULK 36 64 64
SETBULK 37 64 64
SETBULK 38 64 64
SETBULK 39 64 64
SETBULK 40 64 64
SETBULK 41 64 64
SETBULK 42 64 64
SETBULK 43 64 64
SETBULK 44 64 64
SETBULK 45 64 64
SETBULK 46 64 64
SETBULK 47 64 64
SETBULK 48 64 64
SETBULK 49 64 64
SETBULK 50 64 64
SETBULK 51 64 64
SETBULK 52 64 64
SETBULK 53 64 64
SETBULK 54 64 64
SETBULK 55 64 64
SETBULK 56 64 64
SETBULK 57 64 64
SETBULK 58 64 64
SETBULK 59 64 64
SETBULK 60 64 64
SETBULK 61 64 64
SETBULK 62 64 64
SETBULK 63 64 64

CAM8 x x x 1 8

UNSETALL

IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/stringmatch/editDistance/mediumSubroutine.rc
