/*
(*) Semiring: (4MAXMIN8, bit-wise AND)
(*) 1 LLOAD cost:
       - Latency = 2 COPY (NOR) + 64 READ burst + 64 WRITE + 64 Cluster Wire Delay
                     = 2 x 2.6405 + 64 x 2.64 + 64 x 2.64 + 64 x 1.438
                     = 435.233 (ns)
       - Energy  = Load Latency x Total Power
                     = 435233 (ps) x 0.0079 (W)
                     = 3438.3 (pJ)

(*)  A single 1-bit SHIFT (latch into buffer, latch from buffer) has a
    cost of (taken from device-level simulation of a LATCH operation):
       - Latency = 2 x 5.281 = 10.562 (ns)
       - Energy  = 2 x 1.6384 = 3.2768 (pJ)

(*) Each output pixels need to gather partial product from 31 multiwords,
each multiwords contains 8 partial results:
      - Intra-Multiword Data Movement:
        Latency = 31 (multiwords) x 56 x SHIFT
                = 1736 x SHIFT
                = 1736 x 10.562
                = 18335.632 (ns)
        Energy  = 31 (multiwords) x 7 (clusters) x 8 (8-bit precision)
                  x 8 (8 tiles per engine)
                  x (7 + 6 + 5 + 4 + 3 + 2 + 1)
                  (different # engines traveled by different partial product)
                = 388864 x SHIFT
                = 790272 x 3.2768
                = 1274229.5 (pJ)
      - Inter-Multiword Data Movement:
        Latency = 31 (multiwords per pixel) x 2 (64-pixel vector per cluster) x SHIFT
                =  31 x 2 x 435.233
                = 26984.446 (ns)
        Energy  = 7 (clusters) x 31 (multiwords per pixel) x 2 (64-pixel vector per cluster) x SHIFT
                = 7 x 31 x 2 x 3438.3
                = 1492222.2 (pJ)

*/

// Patrial Results Generation ==================================================
SETBULK 0 7 64
SETBULK 1 7 64
SETBULK 2 7 64
SETBULK 3 7 64
SETBULK 4 7 64
SETBULK 5 7 64
SETBULK 6 7 64
SETBULK 7 7 64
SETBULK 8 7 64
SETBULK 9 7 64
SETBULK 10 7 64
SETBULK 11 7 64
SETBULK 12 7 64
SETBULK 13 7 64
SETBULK 14 7 64
SETBULK 15 7 64
SETBULK 16 7 64
SETBULK 17 7 64
SETBULK 18 7 64
SETBULK 19 7 64
SETBULK 20 7 64
SETBULK 21 7 64
SETBULK 22 7 64
SETBULK 23 7 64
SETBULK 24 7 64
SETBULK 25 7 64
SETBULK 26 7 64
SETBULK 27 7 64
SETBULK 28 7 64
SETBULK 29 7 64
SETBULK 30 7 64
SETBULK 31 7 64
SETBULK 32 7 64
SETBULK 33 7 64
SETBULK 34 7 64
SETBULK 35 7 64
SETBULK 36 7 64
SETBULK 37 7 64
SETBULK 38 7 64
SETBULK 39 7 64
SETBULK 40 7 64
SETBULK 41 7 64
SETBULK 42 7 64
SETBULK 43 7 64
SETBULK 44 7 64
SETBULK 45 7 64
SETBULK 46 7 64
SETBULK 47 7 64
SETBULK 48 7 64
SETBULK 49 7 64
SETBULK 50 7 64
SETBULK 51 7 64
SETBULK 52 7 64
SETBULK 53 7 64
SETBULK 54 7 64
SETBULK 55 7 64
SETBULK 56 7 64
SETBULK 57 7 64
SETBULK 58 7 64
SETBULK 59 7 64
SETBULK 60 7 64
SETBULK 61 7 64
SETBULK 62 7 64

AND8 h0v42 b0v21 b0v0 8
AND8 h0v42 b0v22 b0v1 8
AND8 h0v42 b0v23 b0v2 8
AND8 h0v42 b0v24 b0v3 8
AND8 h0v42 b0v25 b0v4 8

AND8 h0v42 b0v21 b0v5 8
AND8 h0v42 b0v22 b0v6 8
AND8 h0v42 b0v23 b0v7 8
AND8 h0v42 b0v24 b0v8 8
AND8 h0v42 b0v25 b0v9 8

AND8 h0v42 b0v21 b0v10 8
AND8 h0v42 b0v22 b0v11 8
AND8 h0v42 b0v23 b0v12 8
AND8 h0v42 b0v24 b0v13 8
AND8 h0v42 b0v25 b0v14 8

AND8 h0v42 b0v21 b0v15 8
AND8 h0v42 b0v22 b0v16 8
AND8 h0v42 b0v23 b0v17 8
AND8 h0v42 b0v24 b0v18 8
AND8 h0v42 b0v25 b0v19 8

AND8 h0v42 b0v21 b0v20 8
AND8 h0v42 b0v22 b0v21 8
AND8 h0v42 b0v23 b0v22 8
AND8 h0v42 b0v24 b0v23 8
AND8 h0v42 b0v25 b0v24 8

4MAXMIN8 x x x 6 8

UNSETALL

// Intra-Multiword Data Movement and Summation =================================
SETBULK 0 1 1
PROP 1736 790272
UNSETALL

SETBULK 0 7 64
SETBULK 1 7 64
SETBULK 2 7 64
SETBULK 3 7 64
SETBULK 4 7 64
SETBULK 5 7 64
SETBULK 6 7 64
SETBULK 7 7 64
SETBULK 8 7 64
SETBULK 9 7 64
SETBULK 10 7 64
SETBULK 11 7 64
SETBULK 12 7 64
SETBULK 13 7 64
SETBULK 14 7 64
SETBULK 15 7 64
SETBULK 16 7 64
SETBULK 17 7 64
SETBULK 18 7 64
SETBULK 19 7 64
SETBULK 20 7 64
SETBULK 21 7 64
SETBULK 22 7 64
SETBULK 23 7 64
SETBULK 24 7 64
SETBULK 25 7 64
SETBULK 26 7 64
SETBULK 27 7 64
SETBULK 28 7 64
SETBULK 29 7 64
SETBULK 30 7 64
SETBULK 31 7 64
SETBULK 32 7 64
SETBULK 33 7 64
SETBULK 34 7 64
SETBULK 35 7 64
SETBULK 36 7 64
SETBULK 37 7 64
SETBULK 38 7 64
SETBULK 39 7 64
SETBULK 40 7 64
SETBULK 41 7 64
SETBULK 42 7 64
SETBULK 43 7 64
SETBULK 44 7 64
SETBULK 45 7 64
SETBULK 46 7 64
SETBULK 47 7 64
SETBULK 48 7 64
SETBULK 49 7 64
SETBULK 50 7 64
SETBULK 51 7 64
SETBULK 52 7 64
SETBULK 53 7 64
SETBULK 54 7 64
SETBULK 55 7 64
SETBULK 56 7 64
SETBULK 57 7 64
SETBULK 58 7 64
SETBULK 59 7 64
SETBULK 60 7 64
SETBULK 61 7 64
SETBULK 62 7 64

4MAXMIN8 x x x 2 1

UNSETALL

// Inter-Multiwords Data Movement and Summation ================================
SETBULK 0 1 1
SHIFT 62 434
UNSETALL

SETBULK 0 7 64
SETBULK 24 7 64

4MAXMIN8 x x x 6 1

UNSETALL
