/*
(*) Semiring: (ADD8, MUL8)
(*) 1 LLOAD cost:
       - Latency = 2 COPY (NOR) + 64 READ burst + 64 WRITE + 64 Cluster Wire Delay
                     = 2 x 2.6405 + 64 x 2.64 + 64 x 2.64 + 64 x 1.438
                     = 435.233 (ns)
       - Energy  = Load Latency x Total Power
                     = 435233 (ps) x 0.0079 (W)
                     = 3438.3 (pJ)

(*)  A single 1-bit SHIFT (latch into buffer, latch from buffer) has a
    cost of (taken from device-level simulation of a LATCH operation):
       - Latency = 2 x 5.281 = 10.562 (ns)
       - Energy  = 2 x 1.6384 = 3.2768 (pJ)

(*) Each output pixels need to gather partial product from 6 multiwords,
each multiwords contains 8 partial results:
      - Intra-Multiword Data Movement:
        Latency = 50 (multiwords) x 56 x SHIFT
                = 2800 x SHIFT
                = 2800 X 10.562
                = 29573.6 (ns)
        Energy  = 50 (multiwords) x 3 (clusters) x 8 (8-bit precision)
                  x 8 (8 tiles per engine)
                  x (7 + 6 + 5 + 4 + 3 + 2 + 1)
                  (different # engines traveled by different partial product)
                = 268800 x SHIFT
                = 268800 x 3.2768
                = 880803.84 (pJ)
      - Inter-Multiword Data Movement:
        Latency = 6 (multiwords per pixel) x 8 (64-pixel vector per cluster) x SHIFT
                =  6 x 8 x 435.233
                = 20891.184 (ns)
        Energy  = 3 (clusters) x 6 (multiwords per pixel) x 8 (64-pixel vector per cluster) x SHIFT
                = 3 x 6 x 8 x 3438.3
                = 495115.2 (pJ)

*/

// Patrial Results Generation ==================================================
SETBULK 0 3 64
SETBULK 1 3 64
SETBULK 2 3 64
SETBULK 3 3 64
SETBULK 4 3 64
SETBULK 5 3 64
SETBULK 6 3 64
SETBULK 7 3 64
SETBULK 8 3 64
SETBULK 9 3 64
SETBULK 10 3 64
SETBULK 11 3 64
SETBULK 12 3 64
SETBULK 13 3 64
SETBULK 14 3 64
SETBULK 15 3 64
SETBULK 16 3 64
SETBULK 17 3 64
SETBULK 18 3 64
SETBULK 19 3 64
SETBULK 20 3 64
SETBULK 21 3 64
SETBULK 22 3 64
SETBULK 23 3 64
SETBULK 24 3 64
SETBULK 25 3 64
SETBULK 26 3 64
SETBULK 27 3 64
SETBULK 28 3 64
SETBULK 29 3 64
SETBULK 30 3 64
SETBULK 31 3 64
SETBULK 32 3 64
SETBULK 33 3 64
SETBULK 34 3 64
SETBULK 35 3 64
SETBULK 36 3 64
SETBULK 37 3 64
SETBULK 38 3 64
SETBULK 39 3 64
SETBULK 40 3 64
SETBULK 41 3 64
SETBULK 42 3 64
SETBULK 43 3 64
SETBULK 44 3 64
SETBULK 45 3 64
SETBULK 46 3 64
SETBULK 47 3 64
SETBULK 48 3 64
SETBULK 49 3 64


MAC8 h0v42 b0v21 b0v0 8
MAC8 h0v42 b0v22 b0v1 8
MAC8 h0v42 b0v23 b0v2 8
MAC8 h0v42 b0v24 b0v3 8
MAC8 h0v42 b0v25 b0v4 8

MAC8 h0v42 b0v21 b0v5 8
MAC8 h0v42 b0v22 b0v6 8
MAC8 h0v42 b0v23 b0v7 8
MAC8 h0v42 b0v24 b0v8 8
MAC8 h0v42 b0v25 b0v9 8

MAC8 h0v42 b0v21 b0v10 8
MAC8 h0v42 b0v22 b0v11 8
MAC8 h0v42 b0v23 b0v12 8
MAC8 h0v42 b0v24 b0v13 8
MAC8 h0v42 b0v25 b0v14 8

MAC8 h0v42 b0v21 b0v15 8
MAC8 h0v42 b0v22 b0v16 8
MAC8 h0v42 b0v23 b0v17 8
MAC8 h0v42 b0v24 b0v18 8
MAC8 h0v42 b0v25 b0v19 8

MAC8 h0v42 b0v21 b0v20 8
MAC8 h0v42 b0v22 b0v21 8
MAC8 h0v42 b0v23 b0v22 8
MAC8 h0v42 b0v24 b0v23 8
MAC8 h0v42 b0v25 b0v24 8

UNSETALL

// Intra-Multiword Data Movement and Summation =================================
SETBULK 0 1 1
SHIFT 29573.6 880803.84
UNSETALL

SETBULK 0 3 64
SETBULK 1 3 64
SETBULK 2 3 64
SETBULK 3 3 64
SETBULK 4 3 64
SETBULK 5 3 64
SETBULK 6 3 64
SETBULK 7 3 64
SETBULK 8 3 64
SETBULK 9 3 64
SETBULK 10 3 64
SETBULK 11 3 64
SETBULK 12 3 64
SETBULK 13 3 64
SETBULK 14 3 64
SETBULK 15 3 64
SETBULK 16 3 64
SETBULK 17 3 64
SETBULK 18 3 64
SETBULK 19 3 64
SETBULK 20 3 64
SETBULK 21 3 64
SETBULK 22 3 64
SETBULK 23 3 64
SETBULK 24 3 64
SETBULK 25 3 64
SETBULK 26 3 64
SETBULK 27 3 64
SETBULK 28 3 64
SETBULK 29 3 64
SETBULK 30 3 64
SETBULK 31 3 64
SETBULK 32 3 64
SETBULK 33 3 64
SETBULK 34 3 64
SETBULK 35 3 64
SETBULK 36 3 64
SETBULK 37 3 64
SETBULK 38 3 64
SETBULK 39 3 64
SETBULK 40 3 64
SETBULK 41 3 64
SETBULK 42 3 64
SETBULK 43 3 64
SETBULK 44 3 64
SETBULK 45 3 64
SETBULK 46 3 64
SETBULK 47 3 64
SETBULK 48 3 64
SETBULK 49 3 64

ADD8 x x x 8 1

UNSETALL

// Inter-Multiwords Data Movement and Summation ================================
SETBULK 0 1 1
SHIFT 20891.184 495115.2
UNSETALL

SETBULK 0 3 64
SETBULK 6 3 64
SETBULK 12 3 64
SETBULK 18 3 64
SETBULK 30 3 64
SETBULK 36 3 64
SETBULK 42 3 64
SETBULK 48 3 64

ADD8 x x x 6 1

UNSETALL
