/*
(*) 1 LLOAD cost:
       - Latency = 2 COPY (NOR) + 64 READ burst + 64 WRITE + 64 Cluster Wire Delay
                     = 2 x 2.6405 + 64 x 2.64 + 64 x 2.64 + 64 x 1.438
                     = 435.233 (ns)
       - Energy  = Load Latency x Total Power
                     = 435233 (ps) x 0.0079 (W)
                     = 3438.3 (pJ)

(*)  A single 1-bit SHIFT (latch into buffer, latch from buffer) has a
    cost of (taken from device-level simulation of a LATCH operation):
       - Latency = 2 x 5.281 = 10.562 (ns)
       - Energy  = 2 x 1.6384 = 3.2768 (pJ)

(*) Pool1 requires 7 multiwords, so we just need
to move conv1 output and transpose it, then put it in new 7 clusters.
Because conv2 only need 3 clusters, we need to move half of the inputs upward

(*) Each clusters contains 8 64-vector of conv2 output, each occupies 6 multiwords:
    - Horizontal Inter-Cluster Data Movement:
      Latency = 3 (multiwords per conv2 pixel) x 2 (64-vector from relu1) x SHIFT
              = 3 x 2 x 435.233  = 13056.99 (ns)
      Energy  = 3 (multiwords per conv2 pixel) x 2 (64-vector from relu1) x 7 (clusters) x SHIFT
              = 3 x 2 x 7 x 3438.3 = 144408.6 (pJ)
    - Vertical Inter-Cluster Data Movement:
      Latency = 3 (other multiwords per conv2 pixel) x SHIFT
              = 3 x 435.233  = 1305.699 (ns)
      Energy  = 3 (other multiwords per conv2 pixel) x 4 (clusters) x SHIFT
              = 3 x 4 x 3438.3 = 41256 (pJ)
*/
SETBULK 0 1 1
SHIFT 6 42
SHIFT 3 12
UNSETALL
