IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc

IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc

IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc

IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc

IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc

IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc

IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc

IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc

IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc

IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
IMPORT /home/minh/git/racer-microbenchmark/programs/sort/smallcore.rc
